{% extends "base.html.twig" %}

{% block title %}Add task{% endblock %}

{% block top_navigation %}
    <li class="nav-item">
        <a class="nav-link" href="{{ '/' }}"><i class="fa fa-home"></i>&nbsp;Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ '/task' }}"><i class="fa fa-list"></i>&nbsp;Tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ '/user' }}"><i class="fa fa-users"></i>&nbsp;Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
{% endblock top_navigation %}

{% block body %}
    <div class="container">
        <h1 style="margin: 30px 0;">Add task</h1>

        <form name="edit_form" id="edit_form" method="post" action="new">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" value=""
                       aria-describedby="titleHelp" placeholder="Enter title"/>
                <small id="titleHelp" class="form-text text-muted">Enter task title here</small>
            </div>
            <div>
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description"
                          aria-describedby="descriptionHelp" placeholder="Enter description"></textarea>
                <small id="titleHelp" class="form-text text-muted">Enter task title here</small>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ app_user.username }}"
                       aria-describedby="usernameHelp" placeholder="Enter task's author username"/>
                <small id="usernameHelp" class="form-text text-muted">Enter your username here</small>
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" class="form-control" id="email" name="email" value="{{ app_user.email }}"
                       aria-describedby="emailHelp" placeholder="Enter task's author E-Mail"/>
                <small id="emailHelp" class="form-text text-muted">Enter your E-Mail here</small>
            </div>
            <br>
            <button type="submit" class="btn btn-dark"><i class="fa fa-angle-double-up"></i>&nbsp;Add</button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#previewModal">
                <i class="fa fa-eye"></i>&nbsp;Preview
            </button>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="previewModalLabel">Task preview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1 style="margin: 30px 0;">Tasks list</h1>

                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Username</th>
                            <th scope="col">E-Mail</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="previewTaskId" scope="row"></td>
                                <td id="previewTaskTitle"></td>
                                <td id="previewTaskDescription"></td>
                                <td id="previewTaskUsername"></td>
                                <td id="previewTaskEmail"></td>
                                <td id="previewTaskStatus"></td>
                                <td>
                                    <a class="btn btn-outline-dark" href="" role="button">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-outline-success" href="" role="button">
                                        <i class="fa fa-hand-lizard-o"></i>
                                    </a>
                                    <a class="btn btn-outline-danger" href="" role="button">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('td#previewTaskId').text({{ lastTaskId + 1 }});
            $('td#previewTaskUsername').text($('form#edit_form input#username').val());
            $('td#previewTaskEmail').text($('form#edit_form input#email').val());
            $('form#edit_form input#title').on('change paste keyup', function() {
                $('td#previewTaskTitle').text($(this).val());
            });
            $('form#edit_form textarea#description').on('change paste keyup', function() {
                $('td#previewTaskDescription').text($(this).val());
            });
            $('form#edit_form input#username').on('change paste keyup', function() {
                $('td#previewTaskUsername').text($(this).val());
            });
            $('form#edit_form input#email').on('change paste keyup', function() {
                $('td#previewTaskEmail').text($(this).val());
            });
            $('td#previewTaskStatus').text('New');
        });
    </script>
{% endblock %}
