{% extends "base.html.twig" %}

{% block title %}Add user{% endblock %}

{% block top_navigation %}
    <li class="nav-item">
        <a class="nav-link" href="{{ '/' }}"><i class="fa fa-home"></i>&nbsp;Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ '/task' }}"><i class="fa fa-list"></i>&nbsp;Tasks</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ '/user' }}"><i class="fa fa-users"></i>&nbsp;Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
{% endblock top_navigation %}

{% block body %}
    <div class="container">
        <h1 style="margin: 30px 0;">Add user</h1>

        <form name="edit_form" id="edit_form" method="POST" action="new">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" value=""
                       aria-describedby="usernameHelp" placeholder="Enter username"/>
                <small id="usernameHelp" class="form-text text-muted">Enter username here</small>
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" class="form-control" id="email" name="email" value=""
                       aria-describedby="emailHelp" placeholder="Enter E-Mail"/>
                <small id="emailHelp" class="form-text text-muted">Enter E-Mail here</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" value=""
                       aria-describedby="passwordHelp" placeholder="Enter password"/>
                <small id="passwordHelp" class="form-text text-muted">Enter password here</small>
            </div>
            <div class="form-group">
                <label for="roles[]">Roles</label>
                <select multiple id="roles" class="form-control" name="roles[]"
                    aria-describedby="rolesHelp">
                    <option disabled>Choose roles</option>
                    {% for role in roles %}
                    <option {% if role.name == 'ROLE_USER' %}selected{% endif %} value="{{ role.name }}">
                        {{ role.name }}
                    </option>
                    {% endfor %}
                </select>
                <small id="rolesHelp" class="form-text text-muted">Select roles here</small>
            </div>
            <div class="form-group">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" value=""
                       aria-describedby="firstNameHelp" placeholder="Enter first name"/>
                <small id="firstNameHelp" class="form-text text-muted">Enter first name here</small>
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" value=""
                       aria-describedby="lastNameHelp" placeholder="Enter last name"/>
                <small id="lastNameHelp" class="form-text text-muted">Enter last name here</small>
            </div>
            <div>
                <label for="briefInfo">Brief info</label>
                <textarea class="form-control" id="briefInfo" name="briefInfo"
                          aria-describedby="briefInfoHelp" placeholder="Enter brief info"></textarea>
                <small id="briefInfoHelp" class="form-text text-muted">Enter brief info here</small>
            </div>
            <br>
            <button type="submit" class="btn btn-dark">
                <i class="fa fa-angle-double-up"></i>&nbsp;Add
            </button>
            <br><br>
        </form>
    </div>
{% endblock body %}
